<!DOCTYPE html>
<html lang="es-cl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="bootstrap">
    

    <title>{% block title %}{% endblock %} JMT asesorías</title>
    {% load static %}

    <link rel="icon" href="{% static 'core/img/logo.png' %}">

     <!-- CSS only -->
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">


      <!-- Fuentes -->
      
      <link href="{% static 'core/font-awesome/css/font-awesome.css' %}" rel="stylesheet" type="text/css">
      <link rel="stylesheet" href="{% static 'core/font-awesome/css/font-awesome.min.css' %}">

      <!-- Estilos -->
      <link href="{% static 'core/css/styles.css' %}" rel="stylesheet">

      <link id="pagestyle" href="{% static 'core/css/material-dashboard.css' %}" rel="stylesheet" />
      
    

</head>
{% load crispy_forms_tags %}
<body>
    
        <!--Menu -->
        <body class="g-sidenav-show  bg-gray-200">
            <aside class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3   bg-gradient-dark" id="sidenav-main">
            <div class="sidenav-header">
                <i class="fas fa-times p-3 cursor-pointer text-white opacity-5 position-absolute end-0 top-0 d-none d-xl-none" aria-hidden="true" id="iconSidenav"></i>
                <a class="navbar-brand m-0" href="/inicioSesion/" target="_blank">
                <img src="{% static 'core/img/logo2.png' %}" class="navbar-brand-img h-100" alt="main_logo">
                <span class="ms-1 font-weight-bold text-white text-center">JMT Asesorias</span>
                </a>
            </div>
            <hr class="horizontal light mt-0 mb-2">
            <div class="collapse navbar-collapse  w-auto " id="sidenav-collapse-main">
                <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link text-white " href="/menuadmin/">
                    <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                        <i class="fa fa-home" aria-hidden="true"></i>
                    </div>
                    <span class="nav-link-text ms-2">Inicio</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white active bg-gradient-primary " href="/admintasador/">
                    <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                        <i class="fa fa-user-o" aria-hidden="true"></i>
                    </div>
                    <span class="nav-link-text ms-2">Tasadores</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white " href="/menutasacion/">
                    <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                        <i class="fa fa-handshake-o" aria-hidden="true"></i>
                    </div>
                    <span class="nav-link-text ms-1">Tasaciones</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white " href="/graficostasacion/">
                    <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                        <i class="fa fa-line-chart" aria-hidden="true"></i>
                    </div>
                    <span class="nav-link-text ms-1">Graficos</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white " href="/notificacionesadmin/">
                    <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                        <i class="fa fa-bell-o" aria-hidden="true"></i>
                    </div>
                    <span class="nav-link-text ms-1">Notificaciones</span>
                    </a>
                </li>
                <li class="nav-item mt-3">
                    <hr class="horizontal light mt-0 mb-2">
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white " href="../pages/profile.html">
                    <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                        <i class="fa fa-cog" aria-hidden="true"></i>
                    </div>
                    <span class="nav-link-text ms-1">Proyectos</span>
                    </a>
                </li>
                </ul>
            </div>
            <div class="sidenav-footer position-absolute w-100 bottom-0 ">
                <div class="mx-3">
                <a class="btn bg-gradient-primary mt-4 w-100" href="/inicioSesion/" type="button">Cerrar sesion</a>
                </div>
            </div>
            </aside>
            <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
        <!--Fin Menu-->

        <!-- Navbar -->

        <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur" navbar-scroll="true">
            <div class="container-fluid py-1 px-3">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
                </ol>
                <h6 class="font-weight-bolder mb-0">Giovanny Otárola.</h6>
            </nav>
            <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
                <div class="ms-md-auto pe-md-3 d-flex align-items-center"> 
                </div>
                <ul class="navbar-nav  justify-content-end">
                <li class="nav-item d-flex align-items-center">
                    <a href="javascript:;" class="nav-link text-body font-weight-bold px-2">
                        <h6 class="fa fa-clock-o" id="display-time">
                            <script>
                                function myFunc()  {
                                    var now = new Date();
                                    var time = now.getHours() + ":" + now.getMinutes() + ":" + now.getSeconds();
                                    document.getElementById('display-time').innerHTML = time;
                                }
                                setInterval(myFunc, 1000);
                            </script>
                          </h6>
                    </a>
                </li>
                <!--notifications-->
                <li class="nav-item dropdown pe-2 d-flex align-items-center">
                    <a href="javascript:;" class="nav-link text-body p-0" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-bell-o" aria-hidden="true"></i>
                    </a>
                    <ul class="dropdown-menu  dropdown-menu-end  px-2 py-3 me-sm-n4" aria-labelledby="dropdownMenuButton">
                    <li class="mb-2">
                        <a class="dropdown-item border-radius-md" href="javascript:;">
                        <div class="d-flex py-1">
                            <div class="my-auto">
                            <img src="{% static 'core/img/avatar1.jpg' %}" class="avatar avatar-sm  me-3 ">
                            </div>
                            <div class="d-flex flex-column justify-content-center">
                            <h6 class="text-sm font-weight-normal mb-1">
                                <span class="font-weight-bold">Nuevo mensaje!</span> de Paulo
                            </h6>
                            <p class="text-xs text-secondary mb-0">
                                <i class="fa fa-clock me-1"></i>
                                Hace 13 minutos
                            </p>
                            </div>
                        </div>
                        </a>
                    </li>
                    <li class="mb-2">
                        <a class="dropdown-item border-radius-md" href="javascript:;">
                        <div class="d-flex py-1">
                            <div class="my-auto">
                            <img src="{% static 'core/img/avatar2.jpg' %}" class="avatar avatar-sm bg-gradient-dark  me-3 ">
                            </div>
                            <div class="d-flex flex-column justify-content-center">
                            <h6 class="text-sm font-weight-normal mb-1">
                                <span class="font-weight-bold">Nuevo mensaje!</span> de Danko
                            </h6>
                            <p class="text-xs text-secondary mb-0">
                                <i class="fa fa-clock me-1"></i>
                                1 dia
                            </p>
                            </div>
                        </div>
                        </a>
                    </li>
                    </ul>
                </li>
                </ul>
            </div>
            </div>
        </nav>

        <!-- Fin Navbar -->

        <div class="container-fluid px-2 px-md-4">
            <div class="page-header min-height-300 border-radius-xl mt-4" style="background-image: url(https://i.postimg.cc/JhssmQPF/httpspostimg-cc-MMkxyc84.jpg);">
                <span class="mask  bg-gradient-primary  opacity-0"></span>
            </div>
            <div class="card card-body mx-3 mx-md-4 mt-n6">
                <div class="card-header p-0 position-relative  mx-3 z-index-2">
                    <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                        <h6 class="text-white text-capitalize ps-3">Nuevo Tasador! </h6>
                    </div>
                </div>
                <div class="col-lg-4 mx-auto ">
                <div class="card-body p-md-5 mx-md-4">

                    <div class="text-center">
                      <img src="{% static 'core/img/logo.png' %}"
                        style="width: 120px;" alt="logo">
                      <h4 class="mt-1 mb-5 pb-1">Somos JMT Asesorías!</h4>
                    </div>
                    <p>Ingrese los datos del nuevo tasador</p>
                      <hr>
                    <form action="" method="POST">

                        {% csrf_token %}
                        <!--{{ form | crispy }}-->

                        <!--extraccion creatasador-->
                        <div class="form-outline mb-4">
                            <label class="form-label" for=""><strong>Nombre</strong></label>
                            <input type="text" name="nombre" id="nombre" class="form-control" 
                            placeholder="Ingrese Nombre" required autocomplete="nombres"/>
                          </div>
    
                          <div class="form-outline mb-4">
                            <label class="form-label" for=""><strong>Primer apellido</strong></label>
                            <input type="text" name="apellido" id="apellido" class="form-control" 
                            placeholder="Ingrese primer apellido" required autocomplete="apellido"/>
                          </div>
    
                          <div class="form-outline mb-4">
                            <label class="form-label" for=""><strong>Contacto</strong></label>
                            <input type="text" name="telefono" id="telefono" class="form-control" 
                            placeholder="Ingrese telefono" required autocomplete="telefono" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1').replace(/^0[^.]/, '0');"/>
                          </div>
    
                          <div class="form-outline mb-4">
                            <label class="form-label" for=""><strong>Correo electronico</strong></label>
                            <input type="email" name="email" id="email" class="form-control"
                              placeholder="Ingrese su email" required autocomplete="email"/>
                          </div>
    
                          <div class="form-outline mb-4">
                            <label class="form-label" for=""><strong>Contraseña</strong></label>
                            <input type="password" name="password" id="password" class="form-control" 
                            placeholder="correo@mail.com" required autocomplete="password"/>
                          </div>
    
                          <div class="form-outline mb-4">
                            <label class="form-label" for=""><strong>Región a trabajar</strong></label>
                            <select type="select" class="form-control text-muted" name="region" id="region" required autocomplete="region">
                                <option class="text-muted">Seleccione una region</option>
                                {% for c in regiones %}
                                    <option value="{{ c.0 }}">{{ c.0 }}</option>
                                {% endfor %}
                              </select>
                          </div>
    
                          <div class="form-outline mb-4">
                            <label class="form-label" for=""><strong>permiso</strong></label>
                            <select type="select" class="form-control text-muted" name="permiso" id="permiso" required autocomplete="permiso">
                                <option class="text-muted">Seleccione un permiso</option>
                                {% for r in permisos %}
                                    <option value="{{ r.0 }}">{{ r.0 }}</option>
                                {% endfor %}
                              </select>
                          </div>
        
                        <!--fin extraccion-->

                        <br>
                        
                        <div class="d-flex justify-content-center">

                        <input type="submit" value="Guardar" class="btn btn-primary">
                        </div>
                    </form>   

                    {{mensaje}}
                    
                    
                    
                                      <script>
                                        
                                        //para visualizar la info al momento de inspeccionar la pagina.
                                        //console.log(email);
                                        //console.log(password);
                                        //console.log(rep_password);
                                        //console.log(nombres);
                                        //console.log(primerapellido);
                                        //console.log(segundoapellido);
                                        //console.log(regiones);
                                        //console.log(telefono);

                                      </script>
                                      <!--Fin funcion-->

                    
    
                  </div>
                </div>
            </div>
        </div>

        <!--Footer Section -->
            
        <footer class="footer py-4  ">
            <div class="container-fluid">
            <div class="row align-items-center justify-content-lg-between">
                <div class="col-lg-6 mb-lg-0 mb-4">
                <div class="copyright text-center text-sm text-muted text-lg-start">
                    ©<script>
                    document.write(new Date().getFullYear())
                    </script> Copyright
                    <a href="https://jmtasesorias.cl/" class="font-weight-bold" target="_blank">JMT Asesoría Inmobiliaria</a>
                    
                </div>
                </div>
                <div class="col-lg-6">
                <ul class="nav nav-footer justify-content-center justify-content-lg-end">
                    <li class="nav-item">
                    <a href="https://www.facebook.com/" class="nav-link text-muted" target="_blank">facebook</a>
                    </li>
                    <li class="nav-item">
                    <a href="https://twitter.com/home" class="nav-link text-muted" target="_blank">twitter</a>
                    </li>
                    <li class="nav-item">
                    <a href="https://www.instagram.com/" class="nav-link text-muted" target="_blank">instagram</a>
                    </li>
                </ul>
                </div>
            </div>
            </div>
        </footer>


        <!-- FIN Footer Section -->



<!--Bootstrap 5 code -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
</main>
</body>
</html>