{% load humanize %}
<!DOCTYPE html>
<html lang="es-cl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="bootstrap">
    

    <title>{% block title %}{% endblock %} JMT asesorías</title>
    {% load static %}

    <link rel="icon" href="{% static 'core/img/logo.png' %}">

     <!-- CSS only -->
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">


      <!-- Fuentes -->
      
      <link href="{% static 'core/font-awesome/css/font-awesome.css' %}" rel="stylesheet" type="text/css">
      <link rel="stylesheet" href="{% static 'core/font-awesome/css/font-awesome.min.css' %}">

      <!-- Estilos -->
      <link href="{% static 'core/css/styles.css' %}" rel="stylesheet">

      <link id="pagestyle" href="{% static 'core/css/material-dashboard.css' %}" rel="stylesheet" />
      
    

</head>

<body>
    
    <main>
        <!--Menu -->
        <body class="g-sidenav-show  bg-gray-200">
            <aside class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3   bg-gradient-dark" id="sidenav-main">
              <div class="sidenav-header">
                <i class="fas fa-times p-3 cursor-pointer text-white opacity-5 position-absolute end-0 top-0 d-none d-xl-none" aria-hidden="true" id="iconSidenav"></i>
                <a class="navbar-brand m-0" href="/inicioSesion/" target="_blank">
                  <img src="{% static 'core/img/logo2.png' %}" class="navbar-brand-img h-100" alt="main_logo">
                  <span class="ms-1 font-weight-bold text-white text-center">JMT Asesorias</span>
                </a>
              </div>
              <hr class="horizontal light mt-0 mb-2">
              <div class="collapse navbar-collapse  w-auto " id="sidenav-collapse-main">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link text-white " href="/menuadmin/">
                      <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                        <i class="fa fa-home" aria-hidden="true"></i>
                      </div>
                      <span class="nav-link-text ms-2">Inicio</span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-white " href="/admintasador/">
                      <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                        <i class="fa fa-user-o" aria-hidden="true"></i>
                      </div>
                      <span class="nav-link-text ms-2">Tasadores</span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-white active bg-gradient-primary" href="/menutasacion/">
                      <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                        <i class="fa fa-handshake-o" aria-hidden="true"></i>
                      </div>
                      <span class="nav-link-text ms-1">Tasaciones</span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-white " href="/graficostasacion/">
                      <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                        <i class="fa fa-line-chart" aria-hidden="true"></i>
                      </div>
                      <span class="nav-link-text ms-1">Graficos</span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-white " href="/notificacionesadmin/">
                      <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                        <i class="fa fa-bell-o" aria-hidden="true"></i>
                      </div>
                      <span class="nav-link-text ms-1">Notificaciones</span>
                    </a>
                  </li>
                  <li class="nav-item mt-3">
                    <hr class="horizontal light mt-0 mb-2">
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-white " href="/misproyectos/">
                      <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                        <i class="fa fa-cog" aria-hidden="true"></i>
                      </div>
                      <span class="nav-link-text ms-1">Proyectos</span>
                    </a>
                  </li>
                </ul>
              </div>
              <div class="sidenav-footer position-absolute w-100 bottom-0 ">
                <div class="mx-3">
                  <a class="btn bg-gradient-primary mt-4 w-100" href="/" type="button">Cerrar sesion</a>
                </div>
              </div>
            </aside>
            <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
        <!--Fin Menu-->


              

        <!-- Navbar -->

        <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur" navbar-scroll="true">
            <div class="container-fluid py-1 px-3">
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
                </ol>
                <h6 class="font-weight-bolder mb-0">Giovanny Otárola.</h6>
              </nav>
              <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
                <div class="ms-md-auto pe-md-3 d-flex align-items-center"> 
                </div>
                

                  <!--notifications-->
                  <li class="nav-item dropdown pe-2 d-flex align-items-end">
                    
                    <a href="javascript:;" class="nav-link text-body p-0" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-bell-o" aria-hidden="true"></i>
                    </a>
                     <!--reloj-->
                     <a href="https://24timezones.com" style="text-decoration: none" class="clock24" id="tz24-1657769037-c1232-eyJob3VydHlwZSI6IjI0Iiwic2hvd2RhdGUiOiIwIiwic2hvd3NlY29uZHMiOiIxIiwic2hvd3RpbWV6b25lIjoiMCIsInR5cGUiOiJkIiwibGFuZyI6ImVzIn0=" title="hora local" target="_blank"></a>
                     <script type="text/javascript" src="//w.24timezones.com/l.js" async></script>
                     <!--fin reloj-->
                    <ul class="dropdown-menu  dropdown-menu-end  px-2 py-3 me-sm-n4" aria-labelledby="dropdownMenuButton">
                      <li class="mb-2">
                        <a class="dropdown-item border-radius-md" href="javascript:;">
                          <div class="d-flex py-1">
                            <div class="my-auto">
                              <img src="{% static 'core/img/avatar1.jpg' %}" class="avatar avatar-sm  me-3 ">
                            </div>
                            <div class="d-flex flex-column justify-content-center">
                              <h6 class="text-sm font-weight-normal mb-1">
                                <span class="font-weight-bold">Nuevo mensaje!</span> de Paulo
                              </h6>
                              <p class="text-xs text-secondary mb-0">
                                <i class="fa fa-clock me-1"></i>
                                Hace 13 minutos
                              </p>
                            </div>
                          </div>
                        </a>
                      </li>
                      <li class="mb-2">
                        <a class="dropdown-item border-radius-md" href="javascript:;">
                          <div class="d-flex py-1">
                            <div class="my-auto">
                              <img src="{% static 'core/img/avatar2.jpg' %}" class="avatar avatar-sm bg-gradient-dark  me-3 ">
                            </div>
                            <div class="d-flex flex-column justify-content-center">
                              <h6 class="text-sm font-weight-normal mb-1">
                                <span class="font-weight-bold">Nuevo mensaje!</span> de Danko
                              </h6>
                              <p class="text-xs text-secondary mb-0">
                                <i class="fa fa-clock me-1"></i>
                                1 dia
                              </p>
                            </div>
                          </div>
                        </a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </nav>

        <!-- Fin Navbar -->

        <div class="card card-body mx-3 mx-md-4">
          <div class="btn-group" role="group" aria-label="Basic radio toggle button group">

          <!-- Menu
          <nav id="menu">
            <ul>
              <li type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked><a  class="btn btn-outline-primary" for="btnradio1" href="#">Antofagasta</a>
                <ul>
                  <li><a href="#">playa blanca</a></li>
                </ul>
              </li>
              <li><a href="#">Atacama</a>
                <ul>
                  <li><a href="#">copiapo</a></li>
                </ul>
              </li>
              <li><a href="#">Enlace 2</a>
                <ul>
                  <li><a href="#">Enlace 2.1</a></li>
                </ul>
              </li>
              <li><a href="#">Enlace 2</a>
                <ul>
                  <li><a href="#">Enlace 2.1</a></li>
                </ul>
              </li>
              <li><a href="#">Enlace 2</a>
                <ul>
                  <li><a href="#">Enlace 2.1</a></li>
                </ul>
              </li>
            </ul>
            </nav>
          Fin Menu-->
            
             
                <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
                <label class="btn btn-outline-primary" for="btnradio1">Metropolitana</label>
                
              
                <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio2">Tarapacá</label>
              
                <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio3">Antofagasta</label>

                <input type="radio" class="btn-check" name="btnradio" id="btnradio4" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio4">Atacama</label>

                <input type="radio" class="btn-check" name="btnradio" id="btnradio5" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio5">Coquimbo</label>

                <input type="radio" class="btn-check" name="btnradio" id="btnradio6" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio6">Valparaíso</label>

                <input type="radio" class="btn-check" name="btnradio" id="btnradio7" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio7">Maule</label>

                <input type="radio" class="btn-check" name="btnradio" id="btnradio8" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio8">Biobío</label>

                <input type="radio" class="btn-check" name="btnradio" id="btnradio9" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio9">Los Lagos</label>

                <input type="radio" class="btn-check" name="btnradio" id="btnradio10" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio10">Los Ríos</label>

                <input type="radio" class="btn-check" name="btnradio" id="btnradio11" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio11">Arica y Parinacota</label>

                <input type="radio" class="btn-check" name="btnradio" id="btnradio12" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio12">Ñuble</label>
                  
            </div>
        </div>
        
        <div class="container-fluid py-4 ">
            <div class="row ">
                <div class="col-12 ">
                    <div class="card my-4 ">                    
                        <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 ">
                            <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3 ">
                               
                                <div class="row mx-3 mx-md-4">
                                    <div class="col-auto my-auto ">
                                        <div class="h-100 ">
                                            <h4 class="mb-2"><strong class="text-white">Tasaciones</strong></h4>
                                        </div>
                                    </div>
                                    
                                    <div class="col-lg-2 col-md-6 my-sm-auto ms-sm-auto me-sm-1 mx-auto mt-0">
                                        <div class="nav-wrapper position-relative end-3">
                                            <div class="text-center pt-2 pb-0 ">
                                                <a class="gradient-custom-2 text-white bg-rosee text-upper" href="/nueva_tasacion/"><strong class="text-white">Nueva Tasacion!</strong></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                              
                            </div>
                        </div>
                        <div class="card-body px-0 pb-2">
                            <div class="table-responsive p-0">
                                
                                    <!--<table class="table align-items-center mb-1 table-striped table-hover table-responsive-sm">
                                      <tr>
                                        <th class="text-center text-uppercase bg-secondary text-white text-xs font-weight-bolder opacity-9">Tasador</th>
                                        <th class="text-center text-uppercase bg-secondary text-white text-xs font-weight-bolder opacity-9">Propietario</th>
                                        <th class="text-center text-uppercase bg-secondary text-white text-xs font-weight-bolder opacity-9">Rut propietario</th>
                                        <th class="text-center text-uppercase bg-secondary text-white text-xs font-weight-bolder opacity-9">Documentacion</th>
                                        <th class="text-center text-uppercase bg-secondary text-white text-xs font-weight-bolder opacity-9">Fecha de tasacion</th>
                                      </tr>
                                      <br><br>
                                      {%for t in tasaciones %}
                                        <tr>
                                          <td class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">{{t.4}}</td>
                                          <td class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">{{t.1}}</td>
                                          <td class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">{{t.0}}</td>
                                          <td class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">{{t.3}}</td>
                                          <td class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">{{t.2}}</td>
                                        </tr>
                                      {%endfor%}  
                                    </table>-->

                                    <head>
                                      <meta content="initial-scale=1, 
                                             maximum-scale=1, user-scalable=0" name="viewport" />
                                      <meta name="viewport" content="width=device-width" />
                                      
                                      <!--Datatable plugin CSS file -->
                                      <link rel="stylesheet" href=
                                    "https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css" />
                                      <!--jQuery library file -->
                                      <script type="text/javascript" src=
                                        "https://code.jquery.com/jquery-3.5.1.js">
                                      </script>
                                        
                                      <!--Datatable plugin JS library file -->
                                      <script type="text/javascript" src=
                                    "https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js">
                                      </script>
                                      
                                      <style>
                                        td {
                                          text-align: center;
                                        }
                                      </style>
                                    </head>
                                      
                                    <body>
                                      
                                      
                                      <!--Datatable con filtro-->
                                      <table id="tableID" class="display table align-items-center mb-1 table-striped table-hover table-responsive-sm" 
                                          style="width: 100%">
                                        <thead>
                                          <tr>
                                            <th class="text-center text-uppercase bg-secondary text-white text-xs font-weight-bolder opacity-9">Tasador</th>
                                            <th class="text-center text-uppercase bg-secondary text-white text-xs font-weight-bolder opacity-9">Propietario</th>
                                            <th class="text-center text-uppercase bg-secondary text-white text-xs font-weight-bolder opacity-9">Rut propietario</th>
                                            <th class="text-center text-uppercase bg-secondary text-white text-xs font-weight-bolder opacity-9">Region</th>
                                            <!--<th class="text-center text-uppercase bg-secondary text-white text-xs font-weight-bolder opacity-9">Documentacion</th>-->
                                            <th class="text-center text-uppercase bg-secondary text-white text-xs font-weight-bolder opacity-9">Fecha de tasacion</th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                        </tr>
                                        <br><br>
                                        {%for t in tasaciones %}
                                          <tr>
                                            <td class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">{{t.4}}</td>
                                            <td class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">{{t.1}}</td>
                                            <td class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">{{t.0}}</td>
                                            <td class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">{{t.5}}</td>
                                            <!--<td class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">{{t.3}}</td>-->
                                            <td class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">{{t.2}}</td>
                                          </tr>
                                        {%endfor%}
                                        </tbody>
                                      </table>
                                      <br />
                                      
                                      <script>
                                      
                                          /* Inicialización de tablas de datos */
                                          $(document).ready(function () {
                                      
                                            // La paginación y otra información son
                                            // deshabilitado si es necesario, establecido en verdadero
                                            var myTable = $("#tableID").DataTable({
                                              paging: true,
                                              searching: true,
                                              info: true,
                                            });
                                      
                                            // La matriz 2d se convierte en una matriz 1D
                                            // estructura las acciones son
                                            // implementado en CADA columna
                                            myTable
                                              .columns()
                                              .flatten()
                                              .each(function (colID) {
                                      
                                                // Crea la lista de selección en el
                                                // encabezado de columna de encabezado
                                                // Al cambiar los valores de la lista,
                                                // realizar la operación de búsqueda
                                                var mySelectList = $("<select />")
                                                  .appendTo(myTable.column(colID).header())
                                                  .on("change", function () {
                                                    myTable.column(colID).search($(this).val());
                                      
                                                    // actualiza los cambios usando el método draw()
                                                    myTable.column(colID).draw();
                                                  });
                                      
                                                // Obtener los datos almacenados en caché de búsqueda para el
                                                // agregar la primera columna a la lista de selección
                                                // usando el método append()
                                                // ordenar los datos para mostrar al usuario
                                                // todos los pasos se realizan para CADA columna
                                                myTable
                                                  .column(colID)
                                                  .cache("search")
                                                  .sort()
                                                  .each(function (param) {
                                                    mySelectList.append(
                                                      $('<option value="' + param + '">'
                                                        + param + "</option>")
                                                    );
                                                  });
                                              });
                                          });
                                      </script>
                                    </body>
                                      
                                    </html>


                            </div>                         
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Footer Section -->
    
        <footer class="footer py-4  ">
            <div class="container-fluid">
              <div class="row align-items-center justify-content-lg-between">
                <div class="col-lg-6 mb-lg-0 mb-4">
                  <div class="copyright text-center text-sm text-muted text-lg-start">
                    ©<script>
                      document.write(new Date().getFullYear())
                    </script> Copyright
                    <a href="https://jmtasesorias.cl/" class="font-weight-bold" target="_blank">JMT Asesoría Inmobiliaria</a>
                    
                  </div>
                </div>
                <div class="col-lg-6">
                  <ul class="nav nav-footer justify-content-center justify-content-lg-end">
                    <li class="nav-item">
                      <a href="https://www.facebook.com/" class="nav-link text-muted" target="_blank">facebook</a>
                    </li>
                    <li class="nav-item">
                      <a href="https://twitter.com/home" class="nav-link text-muted" target="_blank">twitter</a>
                    </li>
                    <li class="nav-item">
                      <a href="https://www.instagram.com/" class="nav-link text-muted" target="_blank">instagram</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </footer>
  
  
      <!-- FIN Footer Section -->

      <!-- style de sub menu -->
    <style> 
    #menu ul li {
        background-color:#2e518b;
    }
    
    #menu ul {
      list-style:none;
      margin:0;
      padding:0;
    }
    
    #menu ul a {
      display:block;
      color:#fff;
      text-decoration:none;
      font-weight:400;
      font-size:15px;
      padding:10px;
      font-family:"HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
      text-transform:uppercase;
      letter-spacing:1px;
    }
    
    #menu ul li {
      position:relative;
      float:left;
      margin:0;
      padding:0;
    }
    
    #menu ul li:hover {
      background:#5b78a7;
    }
    
    #menu ul ul {
      display:none;
      position:absolute;
      top:100%;
      left:0;
      padding:0;
    }
    
    #menu ul ul li {
      float:none;
      width:150px
    }
    
    #menu ul ul a {
      line-height:120%;
      padding:10px 15px;
    }
    
    #menu ul li:hover > ul {
      display:block;
    }
    </style> 
    
  

    <!--Bootstrap 5 code -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
  
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    
    
  </main>
  </body>
  </html>